@import "@mdi/font/css/materialdesignicons.css";
@import "vuetify/styles";

.v-btn {
    font-weight: 400 !important;
}

.container-max {
    max-width: 1200px !important;
}

.font-weight-semi-normal {
    font-weight: 500;
}

.font-weight-semi {
    font-weight: 600;
}

.email-input .v-field {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}