@import './variables.scss';
@import "@mdi/font/css/materialdesignicons.css";

@import "vuetify/styles";

.v-btn {
    font-weight: 400 !important;
}

.font-weight-semi-normal {
    font-weight: 500;
}

.font-weight-semi {
    font-weight: 600;
}